.CoursesPage {
    section {
        width: 75%;
        margin: auto;
        margin-top: 5%;

        .info {
            padding-top: 20px;
            width: 50%;
        }
    }
    h2 {
        margin-top: 5%;
    }
}