.EnrollPage {
    text-align: left;

    section {
        // width: 90%;
        width: 1000px;
        margin: auto;
    }

    // font-weight: bold;
    label {

        letter-spacing: 3px;
    }

    input {
        font-size: 14px;

    }

    img {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

    select {
        padding: 10px;
        outline: none;
    }
}

.loading {
    // display: none;
    margin-right: 20px;
    width: 40px;
}
