.LoginPage {
    overflow:hidden;
    section {
        margin-top: 6%;
        padding-bottom: 6%;

    }

    h1 {
        margin-bottom: 5%;
        text-align: left;
    }

    button {
        background-color: black;
    }

    .alert {
        margin-left: 20px;        
    }

    .loading {
        width: 40px;
        margin-left: 20px;
        
    }
}
