body {
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.05); */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
}

.Overflow {
  /* overflow-y: scroll; */
  /* overflow-x: auto; */
  height: auto;
}
